* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    background-color: #ccc;
    position: relative;
    margin: 1rem;
    padding: 1rem
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    transition: all 0.6s ease;

    &:hover {
        cursor: pointer;
        background: rgb(114, 114, 114);
    }
}