* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todoApp .header {
    text-align: center;
}

.todoApp {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todoApp .header #newTaskField {
    border: 0.1px solid #000;
    border-radius: 0.1rem;
    padding: 0.2rem;
    outline: none;
}
section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section strong {
    text-decoration: line-through;
}

*/
.toto-list li {
    width: 100%;
    background-color: #cccc;
    margin-top: 0.3rem;
    border-radius: 0.2rem;
    list-style-type: none;

}

.toto-list li .main {
    width: 200px;
    padding: 0.3rem 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}

.main .toggle {
    cursor: pointer;
}
.toto-list li .main .destory {
    width: 20px;
    transition: all 0.8s ease;
    border: none;
    outline: none;
    border-radius: 1rem;
    margin-right: 0.3rem;
        cursor: pointer;

    &:hover {
        background-color: blue;
        color: #fff;
    }
}

.compted {
    background-color: red;
    text-decoration: line-through;
}

li .main .toggel {
    text-transform: lowercase;
    background-color: red;
}
.footer {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.footer .todo-count {
    font-size: 0.8rem;
}

.footer .clearBtn {
    display: block;
    font-size: 0.8rem;
    background-color: blue;
    border: none;
    outline: none;
    color: #ffff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.8s ease;

    &:hover {
        background-color: #4d97ff;
    }
}

/* ---------- */